# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
*.swp
*~
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Local storage volumes
/src/minio-storage/data-volume/

# Environment
.env
